WindowedApplication 
{
	backgroundColor: #776441;
	color: #ffffff;
	fontSize: 14;
	themeColor: #776411;
}
Button
{
	borderColor: #776411;
	color: #776411;
	fillAlphas: 0.4, 0, 0.8, 0;
	fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
	fontWeight: normal;
	highlightAlphas: 0.25, 0;
	textRollOverColor: #776411;
	textSelectedColor: #776411;
	themeColor: #776441;
}
TextInput
{
	borderColor: #776441;
	borderStyle: solid;
	color: #776441;
}
TabNavigator
{
	backgroundAlpha: 1;
	borderColor: #776441;
	color: #776441;
	tabStyleName: "myTabs";
	firstTabStyleName: "myTabs";
	lastTabStyleName: "myTabs";
	selectedTabTextStyleName: "mySelectedTabs";
}
.myTabs {
	highlightAlphas: 0.15, 0;
	fillAlphas: 0.85, 0.55;
	fillColors: #ffffff, #ffffff;
	backgroundAlpha: 1;
	backgroundColor: #ffffff;
	borderColor: #776441;
	color: #776441;
	textRollOverColor: #776441;
	themeColor: #776441;
	fontWeight: bold;
}
.mySelectedTabs {
	color: #776441;
	textRollOverColor: #776441;
}
DataGrid
{
	alternatingItemColors: #ffffff, #ffffff;
	backgroundAlpha: 0.1;
	borderColor: #776441;
	color: #ffffff;
	fontSize: 11;
	headerColors: #776441, #776441;
	horizontalGridLines: true;
	horizontalGridLineColor: #776411;
	rollOverColor: #fcb033;
	selectionColor: #fcb033;
	textSelectedColor: #ffffff;
	verticalGridLines: false;
}
List
{
	backgroundAlpha: 1;
	borderColor: #776441;
	color: #776441;
	rollOverColor: #fcb033;
	selectionColor: #fcb033;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
}
Tree 
{
	borderColor: #776411;
	color: #776441;
	openDuration: 0;
	rollOverColor: #fcb033;
	selectionColor: #fcb033;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
}

SignInForm
{
	backgroundAlpha: 0.25;
	backgroundColor: #ffffff;
	borderColor: #fcb033;
	borderStyle: solid;
	borderThickness: 2;
	cornerRadius: 8;
}

.dataGridBox1
{
	backgroundAlpha: .85;
	backgroundColor: #776441;
	paddingLeft: 10;
	paddingRight: 10;
}
.dataGridBox2
{
	backgroundColor: #fcb033;
}
.typesBox
{
	backgroundAlpha: .15;
	backgroundColor: #ffffff;
	paddingLeft: 10;
	paddingRight: 10;
}